*{
    margin: 0px;
    padding: 0px;
}

:root{
    --header-color: rgb(66, 131, 250);
    --hover-color: rgb(25, 25, 77);
    --main-color: rgb(181, 181, 238);
    --bold-color: rgb(101, 101, 255);
    --font-main: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url(images/page_background.png);
}

header.principal-header{
    background-color: var(--header-color);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header.principal-header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header.principal-header > h1.header-title{
    font-size: 3em;
}


header.principal-header > nav.navigation-bar > a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 1.6em;
}

header.principal-header > nav.navigation-bar > a:hover{
    background-color: var(--hover-color);
    color: white;
    transition-duration: 500ms;
    border-radius: 7px;
}

main{
    font-family: var(--font-main);
    opacity: 0;
    max-width: 935px;
    padding: 20px;
    margin: auto;
}

main.fade{
    animation: fadeIn 1.5s forwards;
}

main > h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 25px;
    margin-top: 170px;
    color: white;
}

main > h2#sobre{
    margin-bottom: 30px;
}

main > picture{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

main > picture > img.nicolasImage{
    max-width: 200px;
    border-radius: 50%;
}

main > p{
    font-size: 1.5em;
    text-align: justify;
    color: white;
}

main > p > b{
    color: var(--bold-color);
}

main > section.tech{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

main > section.tech > picture{
    margin: auto;
}

main > section.tech > picture > img{
    max-width: 256px;
    opacity: 0.3;
}

main > section.tech > picture > img:hover{
    opacity: 1;
    transition-duration: 500ms;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
    
}

@media (max-width: 1400px) {
    header.principal-header{
        display: block;
    }

    header.principal-header > h1.header-title{
        text-align: center;
        margin-bottom: 25px;
        font-size: 2em;
    }

    header.principal-header > nav.navigation-bar{
        text-align: center;
    }

    header.principal-header > nav.navigation-bar > a{
        padding: 5px;
        font-size: 1.3em;
    }

    main > h2{
        font-size: 1.5em;
        margin-top: 170px;
    }

    main > p{
        font-size: 1.1em;
        margin-bottom: 35px;
    }

}

@media (max-width: 1200px) {
    main > section.tech > picture > img{
        opacity: 1;
    }

    main > h2{
        margin-top: 180px;
    }
}
